#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



body {
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
}

footer {
  position: fixed;
  height: 150px;
  background-color: rgb(36, 36, 36);
  color: #dcdcdc;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.language-msf .highlight {
  width: 100%;
  /* Ocupa todo el ancho del contenedor padre */
  max-width: 100%;
  /* No se desborda horizontalmente */
  height: auto;
  /* Altura automática según el contenido */
  max-height: 500px;
  /* Ajusta a lo que quieras */
  overflow: auto;
  /* Scroll si el contenido sobrepasa el máximo */
  box-sizing: border-box;
  background-color: #1e1e1e;
  /* Opcional: fondo oscuro estilo terminal */
  color: #dcdcdc;
  /* Texto claro */
  padding: 1em;
  border-radius: 5px;
  /* Opcional: bordes redondeados */
  white-space: pre-wrap;
  /* Permite romper líneas largas */
  word-break: break-word;
  /* Evita que las palabras largas salgan del contenedor */
  background-color: rgb(197, 190, 190, 1);
  color: #1e1e1e;
}

body {}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:active {
  transform: translateY(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  width: 100%;
  left: 35%;
  right: 10%;
  top: 0.1%;
  position: absolute;

}

.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(36, 36, 36);
  color: #dcdcdc;
  border: 1px solid #dcdcdc;
  transition: all 0.3s ease;
  right: 100px;
}